@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:  0 0 0;
    --foreground: 180 0 100;

    --card: 0 0 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0 0;
    --popover-foreground: 180 0 100;

    --primary: 180 0 100 ;
    --primary-foreground: 0 0 10;

    --secondary: 0 0 7;
    --secondary-foreground: 180 0 100;

    --muted: 0 0 7;
    --muted-foreground: 180 0 75;

    --accent: 0 70 50;
    --accent-foreground: 0 0 0;

    --destructive: 0 60 50;
    --destructive-foreground: 180 0 100;

    --border: 180 0 20;
    --input: 180 0 25;
    --ring: 180;

    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



